* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: CenturyGothic;
    src: url('./fonts/GOTHIC.TTF');
  }
  @font-face {
    font-family: CenturyGothicB;
    src: url('./fonts/GOTHICB.TTF');
  }
  /* Body */
  .content{
    background-image: radial-gradient(circle, #19181C 60%, #2E0DB7);
  }
  .divlogo{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
    .logo{
      background-image: url('./img/Recurso4.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 230px;
      height: 210px;
    }
  .divform{
    display: grid;
    flex-direction: column;
  
  }
    ::placeholder{
      color: #EEEF04;
      font-family: CenturyGothic;
      font-size: large;
    }
    .input{
      height: 4rem;
      background-color: transparent;
      border: 3px solid #EEEF04;
      color: #EEEF04;
      font-family: CenturyGothic;
      font-size: large;
      border-radius: 20px;
      text-indent: 20px;
      margin-bottom: 20px;
    }
    .iniciobtn{
      border: none;
      border-radius: 15px;
      background-color: #E41476;
      width: 15rem;
      height: 3.4rem;
      font-family: CenturyGothicB;
      font-size: x-large;
      color: #EEEF04;
      justify-self: center;
      margin-bottom: 20px;
    }
    .forgot{
       color: #726F82; 
       font-family: CenturyGothic;
       cursor: pointer;
       margin-bottom: 100px;
    }