* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: CenturyGothic;
  src: url('./fonts/GOTHIC.TTF');
}
@font-face {
  font-family: CenturyGothicB;
  src: url('./fonts/GOTHICB.TTF');
}
/* Header */
.header {
  background-color: #19181D;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
  .logo-header {
    background-image: url(./img/Recurso4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 180px;
  }
  .search {
    border: 3px #E41476 solid;
    border-radius: 15px;
    background-color: transparent;
    color: #E41476;
    padding: 5px 10px;
    font-size: larger;
  }
  ::placeholder {
    color: #E41476;
  }
  .usuario {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3.5rem;
  }
  .inicio {
    color: #E41476;
    text-decoration: none;
    font-family: CenturyGothicB;
    font-size: x-large;
  }
  .registro {
    color: #EEEF04;
    text-decoration: none;
    font-family: CenturyGothicB;
    font-size: x-large;
    background-color: #E41476;
    padding: 8px 20px;
    border-radius: 15px;
  }
/* footer */
.footer {
  background: #19181D;
  color: #726F82;

  height: auto;
  display: flex;
  align-items: center;
}
  .logo-footer {
    background-image: url(./img/Recurso4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 180px;
  }
  .copyright {
    text-align: left;
  }
  .x,
  .inst,
  .google,
  .wsp {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .x,
  .inst {
    padding-left: 80px;
  }
  .ix,
  .iinst,
  .igoogle,
  .iwsp {
    padding-bottom: 15px;
    padding-right: 10px;
  }
/* Body */
.course {
  background-color: #2F2C38;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 15px;
}
  .btncrear {
    background-color: #35E2EF;
    color: #2F2C38;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 65px;
    font-family: CenturyGothicB;
    font-size: x-large;
  }
  .btnmis{
    border: 3px solid #35E2EF;
    color: #35E2EF;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 65px;
    font-family: CenturyGothicB;
    font-size: x-large;
  }
.ttl {
  color: #35E2EF;
  font-family: CenturyGothicB;
  font-size: xx-large;
  }
.form_div{
  display: flex;
  justify-content: center;
}

  .form_div .label {
    color: #726F82;
    font-family: CenturyGothic;
    font-size: large;
    margin-bottom: 10px;
  }
  .form_div input{
    margin-bottom: 15px;
  }
  #titulo, #estudiantes {
      height: 3rem;
      width: 20rem;
      background-color: transparent;
      border: 3px solid #EEEF04;
      color: #EEEF04;
      font-family: CenturyGothic;
      font-size: large;
      border-radius: 15px;
      text-indent: 20px;
  }
  .img{
    height: 3rem;
    width: 20rem;
    text-indent: 10px;
    margin-bottom: 10px;
  }
  textarea {
    background-color: transparent;
    color: #EEEF04;
    font-family: CenturyGothic;
    font-size: large;
    border: 3px solid #EEEF04;
    border-radius: 15px;
    text-indent: 15px;
  }
  #clasificacion{
    height: 3rem;
    width: 20rem;
    background-color: #19181D;
    border: 1px solid #19181D;
    border-radius: 15px;
    color: #EEEF04;
    font-family: CenturyGothic;
    font-size: large;
    text-indent: 10px;
    margin-bottom: 10px;
  }
  .submitbtn{
    background-color: #E41476;
    color: #EEEF04;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    font-family: CenturyGothicB;
    font-size: larger;
    margin-left: 6rem;
  }