*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: CenturyGothic;
    src: url('../componentes/fonts/GOTHIC.TTF');
}
@font-face {
    font-family: CenturyGothicB;
    src: url('./componentes/fonts/GOTHICB.TTF');
}
/* Header */
.header{
    background-color: #19181D;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.logo-header{
    background-image: url(./img/Recurso\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 180px;
}
.search{
    border: 3px #E41476 solid;
    border-radius: 15px;
    background-color: transparent;
    color: #E41476;
    padding: 5px 10px;
    font-size: larger;
}
::placeholder{
    color: #E41476;
}
.usuario{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3.5rem;
}
.inicio{
    color: #E41476;
    text-decoration: none;
    font-family: CenturyGothicB;
    font-size: x-large;
}
.registro{
    color: #EEEF04;
    text-decoration: none;
    font-family: CenturyGothicB;
    font-size: x-large;
    background-color: #E41476;
    padding: 8px 20px;
    border-radius: 15px;
}
/* Footer */
.footer{
    background: #19181D;
    color: #726F82;
    height: auto;
    display: flex;
    align-items: center;
}
.logo-footer{
    background-image: url(./img/Recurso\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 180px;
}
.copyright{
    text-align: left;
}
.x, .inst, .google, .wsp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.x, .inst{
    padding-left: 80px;
}
.ix, .iinst, .igoogle, .iwsp{
    padding-bottom: 15px;
    padding-right: 10px;
}
/* Body */
.curso-info{
    background-color: #2F2C38;
    color: #726F82;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.imagen {
    background-color: #2d0db6;
    width: 26rem;
    height: 16rem;
    border-radius: 20px;
    margin-top: 1.5rem;
}
.visual{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    gap: 10px;
    font-family: CenturyGothic;
}
.visual h3{
    font-family: CenturyGothicB;
}
.circulo{
    width: 70px;
    height: 70px;
}
.titulo{
    color: #35E2EF;
    font-family: CenturyGothicB;
    margin-top: 1.5rem;
}
.desc{
    font-family: CenturyGothic;
}
.boton{
    display: flex;  
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 20px;
}
.inscr{
    background-color: #E41476;
    color: #EEEF04;
    font-family: CenturyGothicB;
    font-size: larger;
    border: none;
    border-radius: 20px;
    padding: 8px 28px;
}
.informacion{
    display: flex;
    flex-direction: column;
}
.puntos{
    background-color: #19181D;
    border-radius: 20px;
    width: 20rem;
    height: 25rem;
    margin-left: 3rem;
}
.lecciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: CenturyGothic;
    gap: 15px;
    color   :#35E2EF;
}