* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: CenturyGothic;
  src: url('./fonts/GOTHIC.TTF');
}
@font-face {
  font-family: CenturyGothicB;
  src: url('./fonts/GOTHICB.TTF');
}
/* Body */
.content{
  background-image: radial-gradient(circle, #19181C 60%, #2E0DB7);
}
.divlogo{
  display: flex;
  justify-content: center;
}
  .logo{
    background-image: url('./img/Recurso4.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 230px;
    height: 210px;
  }
.divform{
  display: grid;
  flex-direction: column;

}
  ::placeholder{
    color: #EEEF04;
    font-family: CenturyGothic;
    font-size: large;
  }
  .input{
    height: 4rem;
    background-color: transparent;
    border: 3px solid #EEEF04;
    font-family: CenturyGothic;
    font-size: large;
    color: #EEEF04;
    border-radius: 20px;
    text-indent: 20px;
    margin-bottom: 20px;
  }
  .registrobtn{
    border: none;
    border-radius: 15px;
    background-color: #E41476;
    width: 15rem;
    height: 3.4rem;
    font-family: CenturyGothicB;
    font-size: x-large;
    color: #EEEF04;
    justify-self: center;
    margin-bottom: 20px;
  }
  #days, #month, #year{
    border: 3px solid #EEEF04;
    border-radius: 20px;
    width: 10.5rem;
    height: 4rem;
    background-color: transparent;
    color: #EEEF04;
    font-family: CenturyGothic;
    font-size: large;
    text-indent: 20px;
    margin-bottom: 20px;
    margin-right: 8px;
  }
  select>option {
    background-color: #19181C;
  }
  label{
    color: #EEEF04;
    font-family: CenturyGothic;
    font-size: large;
    margin-bottom: 5px;
  }
  .code{
    background-color: #19181C;
    color: #EEEF04;
    border: 3px solid #EEEF04;
    border-radius: 20px;
    height: 4rem;
    width: 8rem;
    font-family: CenturyGothic;
    font-size: medium;
    text-indent: 10px;
    margin-right: 8px;
  }
  .tlf{
    width: 24.8rem;
  }